
/*------------- CONTENTS --------------*/


/*------------- HEADER --------------*/

h1 {
    
    text-align: center;
}

#gameInfo {
    display: flex;
    justify-content: space-around;
}

.timer {
    padding-left: 500px;
}

.flips {
    padding-right: 400px;
}



/*------------- CANVAS --------------*/

#myCanvas {
    display: flex;
    justify-content: center;
    background-color: #3f4866;
}

